{% extends 'base_w_header.html' %}
{% set page = "" %}
{% block title %}
Fin Lit | Admin
{% endblock %}

{% block styles %}
<!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"> -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/new_styles.css') }}">
{% endblock %}

{% block content %}
<div class="page-wrapper">
    <div class="container-xl">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-primary mt-3 alert-dismissible mb-0 fade show" role="alert">
            <strong>{{ message }}</strong>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
        <!-- Page title -->
        <div class="page-header d-print-none">
            <div class="row g-2 align-items-center">
                <div class="col">
                    <!-- Page pre-title -->
                    <div class="page-pretitle">
                        Grading
                    </div>
                    <h2 class="page-title">
                        {{ quiz.module.name | capitalize }} - {{ quiz.name }}
                    </h2>
                </div>
            </div>
        </div>
    </div>
    <div class="page-body">
        <div class="container-xl">
            <div class="row row-deck row-cards">
                <div class="col-sm-6 col-lg-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex align-items-center">
                                <div class="subheader">Users</div>
                                <div class="ms-auto lh-1">
                                    <div class="dropdown">
                                        <a class="dropdown-toggle text-muted" href="#" data-bs-toggle="dropdown"
                                            aria-haspopup="true" aria-expanded="false">Last 7 days</a>
                                        <div class="dropdown-menu dropdown-menu-end">
                                            <a class="dropdown-item active" href="#">Last 7 days</a>
                                            <a class="dropdown-item" href="#">Last 30 days</a>
                                            <a class="dropdown-item" href="#">Last 3 months</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="h1 mb-3">0</div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex align-items-center">
                                <div class="subheader">Submissions</div>
                                <div class="ms-auto lh-1">
                                    <div class="dropdown">
                                        <a class="dropdown-toggle text-muted" href="#" data-bs-toggle="dropdown"
                                            aria-haspopup="true" aria-expanded="false">Last 7 days</a>
                                        <div class="dropdown-menu dropdown-menu-end">
                                            <a class="dropdown-item active" href="#">Last 7 days</a>
                                            <a class="dropdown-item" href="#">Last 30 days</a>
                                            <a class="dropdown-item" href="#">Last 3 months</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="h1 mb-3">{{ responses | length }}</div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex align-items-center">
                                <div class="subheader">Statistic</div>
                                <div class="ms-auto lh-1">
                                    <div class="dropdown">
                                        <a class="dropdown-toggle text-muted" href="#" data-bs-toggle="dropdown"
                                            aria-haspopup="true" aria-expanded="false">Last 7 days</a>
                                        <div class="dropdown-menu dropdown-menu-end">
                                            <a class="dropdown-item active" href="#">Last 7 days</a>
                                            <a class="dropdown-item" href="#">Last 30 days</a>
                                            <a class="dropdown-item" href="#">Last 3 months</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="h1 mb-3">0</div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex align-items-center">
                                <div class="subheader">Statistic</div>
                                <div class="ms-auto lh-1">
                                    <div class="dropdown">
                                        <a class="dropdown-toggle text-muted" href="#" data-bs-toggle="dropdown"
                                            aria-haspopup="true" aria-expanded="false">Last 7 days</a>
                                        <div class="dropdown-menu dropdown-menu-end">
                                            <a class="dropdown-item active" href="#">Last 7 days</a>
                                            <a class="dropdown-item" href="#">Last 30 days</a>
                                            <a class="dropdown-item" href="#">Last 3 months</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="h1 mb-3">0</div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="card">
                <div class="table-responsive">
                    <table class="table table-vcenter card-table">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Q1</th>
                                <th>Q2</th>
                                <th>Q3</th>
                                <th>Q4</th>
                                <th>Q5</th>
                                <th>Q6</th>
                                <th>Q7</th>
                                <th>Q8</th>
                                <th>Q9</th>
                                <th>Q10</th>
                                <th>Q11</th>
                                <th>Q12</th>
                                <th>Q13</th>
                                <th>Q14</th>
                                <th>Q15</th>
                                <th>Q16</th>
                                <th>Q17</th>
                                <th>Q18</th>
                                <th>Q19</th>
                                <th>Q20</th>
                                <th>Q21</th>
                                <th>Q22</th>
                                <th>Q23</th>
                                <th>Q24</th>
                                <th>Q25</th>
                                <th>Q26</th>
                                <th>Q27</th>
                                <th>Q28</th>
                                <th>Q29</th>
                                <th>Q30</th>
                                <th>Q31</th>
                                <th>Q32</th>
                                <th>Q33</th>
                                <th>Q34</th>
                                <th>Q35</th>
                                <th>Q36</th>
                                <th>Q37</th>
                                <th>Q38</th>
                                <th>Q39</th>
                                <th>Q40</th>
                                <th>Q41</th>
                                <th>Q42</th>
                                <th>Q43</th>
                                <th>Q44</th>
                                <th>Q45</th>
                                <th>Q46</th>
                                <th>Q47</th>
                                <th>Q48</th>
                                <th>Score</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in responses %}
                            <tr>
                                <td>{{ item.student.name }}</td>
                                <td>{{ item.q1 }}</td>
                                <td>{{ item.q2 }}</td>
                                <td>{{ item.q3 }}</td>
                                <td>{{ item.q4 }}</td>
                                <td>{{ item.q5 }}</td>
                                <td>{{ item.q6 }}</td>
                                <td>{{ item.q7 }}</td>
                                <td>{{ item.q8 }}</td>
                                <td>{{ item.q9 }}</td>
                                <td>{{ item.q10 }}</td>
                                <td>{{ item.q11 }}</td>
                                <td>{{ item.q12 }}</td>
                                <td>{{ item.q13 }}</td>
                                <td>{{ item.q14 }}</td>
                                <td>{{ item.q15 }}</td>
                                <td>{{ item.q16 }}</td>
                                <td>{{ item.q17 }}</td>
                                <td>{{ item.q18 }}</td>
                                <td>{{ item.q19 }}</td>
                                <td>{{ item.q20 }}</td>
                                <td>{{ item.q21 }}</td>
                                <td>{{ item.q22 }}</td>
                                <td>{{ item.q23 }}</td>
                                <td>{{ item.q24 }}</td>
                                <td>{{ item.q25 }}</td>
                                <td>{{ item.q26 }}</td>
                                <td>{{ item.q27 }}</td>
                                <td>{{ item.q28 }}</td>
                                <td>{{ item.q29 }}</td>
                                <td>{{ item.q30 }}</td>
                                <td>{{ item.q31 }}</td>
                                <td>{{ item.q32 }}</td>
                                <td>{{ item.q33 }}</td>
                                <td>{{ item.q34 }}</td>
                                <td>{{ item.q35 }}</td>
                                <td>{{ item.q36 }}</td>
                                <td>{{ item.q37 }}</td>
                                <td>{{ item.q38 }}</td>
                                <td>{{ item.q39 }}</td>
                                <td>{{ item.q40 }}</td>
                                <td>{{ item.q41 }}</td>
                                <td>{{ item.q42 }}</td>
                                <td>{{ item.q43 }}</td>
                                <td>{{ item.q44 }}</td>
                                <td>{{ item.q45 }}</td>
                                <td>{{ item.q46 }}</td>
                                <td>{{ item.q47 }}</td>
                                <td>{{ item.q48 }}</td>
                                <td>
                                    <form action="/quiz/score/{{ item.id }}" method="post">
                                        <input type="text" class="form-control form-control-flush"
                                            name="score" placeholder="" value="{{ item.score if item.score else '' }}">
                                        <input type="submit" style="display: none" />
                                    </form>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/litepicker/dist/bundle.js"></script>
<script src="{{ url_for('static', filename='js/app.js') }}"></script>
{% endblock %}