{% extends 'base_w_header.html' %}
{% set page = "course" %}
{% block title %}
Fin Lit | Quiz
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
{% endblock %}

{% block content %}

<div class="page-wrapper">
    <div class="container-xl">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-primary mt-3 alert-dismissible mb-0 fade show" role="alert">
            <strong>{{ message }}</strong>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
        <!-- Page title -->
        <div class="page-header d-print-none">
            <div class="row g-2 align-items-center">
                <div class="col">
                    <h2 class="page-title">
                        Credit Card Introductory Test
                    </h2>
                    <div class="text-muted mt-1">Take charge of Credit Cards</div>
                </div>
            </div>
        </div>
    </div>
    <div class="page-body">
        <div class="container-xl">
            <div class="row">
                <div class="col-lg-8">
                    <ol>
                        <p><strong>Directions:</strong> Match the following terms with the correct definitions.
                            <strong>(1
                                point
                                each)</strong></p>
                        <li>
                            <div class="row">
                                <div class="col-lg-2">
                                    <input type="text" class="form-control form-control-flush" name="Form control flush"
                                        placeholder="Type answer" style="border: 0.5px black">
                                </div>
                                <div class="col">
                                    <p>is the fee charged when a cardholder does not make the minimum monthly payment by
                                        the due
                                        date.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="row">
                                <div class="col-lg-2">
                                    <input type="text" class="form-control form-control-flush" name="Form control flush"
                                        placeholder="Type answer" style="border: 0.5px black">
                                </div>
                                <div class="col">
                                    <p>
                                        The price of money
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="row">
                                <div class="col-lg-2">
                                    <input type="text" class="form-control form-control-flush" name="Form control flush"
                                        placeholder="Type answer" style="border: 0.5px black">
                                </div>
                                <div class="col">
                                    <p>
                                        When goods, services, or money is received in exchange for a promise to pay a
                                        definite sum of money at a future date.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="row">
                                <div class="col-lg-2">
                                    <input type="text" class="form-control form-control-flush" name="Form control flush"
                                        placeholder="Type answer" style="border: 0.5px black">
                                </div>
                                <div class="col">
                                    <p>
                                        The maximum dollar amount that can be charged on a credit card.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="row">
                                <div class="col-lg-2">
                                    <input type="text" class="form-control form-control-flush" name="Form control flush"
                                        placeholder="Type answer" style="border: 0.5px black">
                                </div>
                                <div class="col">
                                    <p>
                                        The interest rate charged on a credit card account each month.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="row">
                                <div class="col-lg-2">
                                    <input type="text" class="form-control form-control-flush" name="Form control flush"
                                        placeholder="Type answer" style="border: 0.5px black">
                                </div>
                                <div class="col">
                                    <p>
                                        Minimum amount of a credit card bill that must be paid every month.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="row">
                                <div class="col-lg-2">
                                    <input type="text" class="form-control form-control-flush" name="Form control flush"
                                        placeholder="Type answer" style="border: 0.5px black">
                                </div>
                                <div class="col">
                                    <p>
                                        A higher interest rate that is charged on new transactions.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="row">
                                <div class="col-lg-2">
                                    <input type="text" class="form-control form-control-flush" name="Form control flush"
                                        placeholder="Type answer" style="border: 0.5px black">
                                </div>
                                <div class="col">
                                    <p>
                                        The date the minimum payment is due.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="row">
                                <div class="col-lg-2">
                                    <input type="text" class="form-control form-control-flush" name="Form control flush"
                                        placeholder="Type answer" style="border: 0.5px black">
                                </div>
                                <div class="col">
                                    <p>
                                        Charged if the amount of money charged goes over the card's credit limit.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <br>
                        <p><strong>Directions:</strong> Identify the following statements as positive or negative uses
                            of a credit card. Place a “P” in the blank if the action is a positive use of a credit card
                            and place a “N” in the blank if the action is a negative use of a credit card. <strong>(1
                                point
                                each)</strong></p>
                        <li>
                            <div class="row">
                                <div class="col-lg-2">
                                    <input type="text" class="form-control form-control-flush" name="Form control flush"
                                        placeholder="Type answer" style="border: 0.5px black">
                                </div>
                                <div class="col">
                                    <p>
                                        Paying the amount charged to a credit card in full every month.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="row">
                                <div class="col-lg-2">
                                    <input type="text" class="form-control form-control-flush" name="Form control flush"
                                        placeholder="Type answer" style="border: 0.5px black">
                                </div>
                                <div class="col">
                                    <p>
                                        Paying credit card payments on time
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="row">
                                <div class="col-lg-2">
                                    <input type="text" class="form-control form-control-flush" name="Form control flush"
                                        placeholder="Type answer" style="border: 0.5px black">
                                </div>
                                <div class="col">
                                    <p>
                                        Paying only the minimum payment due
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="row">
                                <div class="col-lg-2">
                                    <input type="text" class="form-control form-control-flush" name="Form control flush"
                                        placeholder="Type answer" style="border: 0.5px black">
                                </div>
                                <div class="col">
                                    <p>
                                        Keeping track of all charges by keeping receipts
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="row">
                                <div class="col-lg-2">
                                    <input type="text" class="form-control form-control-flush" name="Form control flush"
                                        placeholder="Type answer" style="border: 0.5px black">
                                </div>
                                <div class="col">
                                    <p>
                                        Going over the card's credit limit
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="row">
                                <div class="col-lg-2">
                                    <input type="text" class="form-control form-control-flush" name="Form control flush"
                                        placeholder="Type answer" style="border: 0.5px black">
                                </div>
                                <div class="col">
                                    <p>
                                        Checking the monthly credit card statement for errors
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="row">
                                <div class="col-lg-2">
                                    <input type="text" class="form-control form-control-flush" name="Form control flush"
                                        placeholder="Type answer" style="border: 0.5px black">
                                </div>
                                <div class="col">
                                    <p>
                                        Charging items that can't be paid off within the month
                                    </p>
                                </div>
                            </div>
                        </li>

                        <br>
                        <p><strong>Directions:</strong> Answer the following questions. </p>

                        <li>
                            <p>
                                How can a person avoid paying interest on a credit card? (1 point)
                            </p>
                            <textarea class="form-control" name="example-textarea" placeholder="Type here"></textarea>
                        </li>
                        <li>
                            <p>
                                What is the difference between a credit card and a debit card? (2 points)
                            </p>
                            <textarea class="form-control" name="example-textarea" placeholder="Type here"></textarea>
                        </li>
                        <li>
                            <p>
                                What does it mean to be a co-signer on a credit account? (1 point)
                            </p>
                            <textarea class="form-control" name="example-textarea" placeholder="Type here"></textarea>
                        </li>
                        <li>
                            <p>
                                What are two advantages and two disadvantages to using a credit card? (2 points)
                            </p>
                            <textarea class="form-control" name="example-textarea" placeholder="Type here"></textarea>
                        </li>
                        <li>
                            <p>
                                Why is it important to examine a credit card statement? (1 point)
                            </p>
                            <textarea class="form-control" name="example-textarea" placeholder="Type here"></textarea>
                        </li>
                        <li>
                            <p>
                                What are two safety tips that should be followed when using a credit card? (2 points)
                            </p>
                            <textarea class="form-control" name="example-textarea" placeholder="Type here"></textarea>
                        </li>

                    </ol>
                </div>
                <div class="col-lg-4">
                    <h4>Answer Choices</h4>
                    <ol type="A">
                        <li>
                            <label class="form-check">
                                <input class="form-check-input" type="checkbox">
                                <span class="form-check-label">Annual Percentage Rate</span>
                            </label>
                        </li>
                        <li>
                            <label class="form-check">
                                <input class="form-check-input" type="checkbox">
                                <span class="form-check-label">Credit</span>
                            </label></li>
                        <li>
                            <label class="form-check">
                                <input class="form-check-input" type="checkbox">
                                <span class="form-check-label">Credit Limit</span>
                            </label>
                        </li>
                        <li>
                            <label class="form-check">
                                <input class="form-check-input" type="checkbox">
                                <span class="form-check-label">Due Date</span>
                            </label></li>
                        <li>
                            <label class="form-check">
                                <input class="form-check-input" type="checkbox">
                                <span class="form-check-label">Interest</span>
                            </label>
                        </li>
                        <li>
                            <label class="form-check">
                                <input class="form-check-input" type="checkbox">
                                <span class="form-check-label">Late Payment Fee</span>
                            </label>
                        </li>
                        <li>
                            <label class="form-check">
                                <input class="form-check-input" type="checkbox">
                                <span class="form-check-label">Minimum Payment</span>
                            </label>
                        </li>
                        <li>
                            <label class="form-check">
                                <input class="form-check-input" type="checkbox">
                                <span class="form-check-label">Over-the-limit fee</span>
                            </label>
                        </li>
                        <li>
                            <label class="form-check">
                                <input class="form-check-input" type="checkbox">
                                <span class="form-check-label">Penalty APR</span>
                            </label>
                        </li>
                    </ol>
                </div>

            </div>
        </div>
    </div>

</div>

{% endblock %}

{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/litepicker/dist/bundle.js"></script>
<script src="{{ url_for('static', filename='js/app.js') }}"></script>
{% endblock %}