{% extends 'base_w_header.html' %}
{% set page = "course" %}
{% block title %}
Fin Lit | Course
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
{% endblock %}

{% block content %}

<div class="page-wrapper">
    <div class="container-xl">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-primary mt-3 alert-dismissible mb-0 fade show" role="alert">
            <strong>{{ message }}</strong>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
        <!-- Page title -->
        <div class="page-header d-print-none">
            <div class="row g-2 align-items-center">
                <div class="col">
                    <h2 class="page-title">
                        Understanding a Credit Card Statement
                    </h2>
                </div>
            </div>
        </div>
    </div>
    <div class="page-body">
        <div class="container-xl">
            <div class="row">

                <p>
                    <strong>Directions:</strong> Refer to the credit card statement to answer the following questions.
                </p>

                <div class="card">
                    <div class="card-body p-0">
                        <div class="table-responsive">
                            <table class="table card-table table-vcenter text-nowrap datatable">
                                <thead>
                                    <tr>
                                        <td class="text-muted">
                                            <strong>
                                                <centre>
                                                    <p>Section</p>
                                                </centre>
                                            </strong>
                                        </td>
                                        <td class="text-muted">
                                            <strong>
                                                <centre>
                                                    <p>What type of information is in this section?</p>
                                                </centre>
                                            </strong>
                                        </td>
                                        <td class="text-muted">
                                            <strong>
                                                <centre>
                                                    <p>Why is this section important to review/understand?</p>
                                                </centre>
                                            </strong>
                                        </td>
                                    </tr>
                                    <thead>
                                    <tbody>
                                        <tr>
                                            <td class="text-muted">
                                                Summary of Account Activity
                                            </td>
                                            <td class="text-muted">
                                                <textarea class="form-control" name="example-textarea"
                                                    placeholder="Type here..."></textarea>
                                            </td>
                                            <td class="text-muted">
                                                <textarea class="form-control" name="example-textarea"
                                                    placeholder="Type here..."></textarea>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-muted">
                                                Payment Information
                                            </td>
                                            <td class="text-muted">
                                                <textarea class="form-control" name="example-textarea"
                                                    placeholder="Type here..."></textarea>

                                            </td>
                                            <td class="text-muted">
                                                <textarea class="form-control" name="example-textarea"
                                                    placeholder="Type here..."></textarea>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-muted">
                                                Late Payment Warning
                                            </td>
                                            <td class="text-muted">
                                                <textarea class="form-control" name="example-textarea"
                                                    placeholder="Type here..."></textarea>
                                            </td>
                                            <td class="text-muted">
                                                <textarea class="form-control" name="example-textarea"
                                                    placeholder="Type here..."></textarea>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-muted">
                                                Minimum Payment Warning
                                            </td>
                                            <td class="text-muted">
                                                <textarea class="form-control" name="example-textarea"
                                                    placeholder="Type here..."></textarea>
                                            </td>
                                            <td class="text-muted">
                                                <textarea class="form-control" name="example-textarea"
                                                    placeholder="Type here..."></textarea>
                                                = </td>
                                        </tr>
                                        <tr>
                                            <td class="text-muted">
                                                Notice of Changes to Your Interest Rates
                                            </td>
                                            <td class="text-muted">
                                                <textarea class="form-control" name="example-textarea"
                                                    placeholder="Type here..."></textarea>
                                                = </td>
                                            <td class="text-muted">
                                                <textarea class="form-control" name="example-textarea"
                                                    placeholder="Type here..."></textarea>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-muted">
                                                Other changes to Your Account Terms
                                            </td>
                                            <td class="text-muted">
                                                <textarea class="form-control" name="example-textarea"
                                                    placeholder="Type here..."></textarea>
                                            </td>
                                            <td class="text-muted">
                                                <textarea class="form-control" name="example-textarea"
                                                    placeholder="Type here..."></textarea>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-muted">
                                                Transactions
                                            </td>
                                            <td class="text-muted">
                                                <textarea class="form-control" name="example-textarea"
                                                    placeholder="Type here..."></textarea>
                                            </td>
                                            <td class="text-muted">
                                                <textarea class="form-control" name="example-textarea"
                                                    placeholder="Type here..."></textarea>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-muted">
                                                Fees and Interest Charged
                                            </td>
                                            <td class="text-muted">
                                                <textarea class="form-control" name="example-textarea"
                                                    placeholder="Type here..."></textarea>
                                            </td>
                                            <td class="text-muted">
                                                <textarea class="form-control" name="example-textarea"
                                                    placeholder="Type here..."></textarea>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td class="text-muted">
                                                Year-to-Date Totals
                                            </td>
                                            <td class="text-muted">
                                                <textarea class="form-control" name="example-textarea"
                                                    placeholder="Type here..."></textarea>
                                            </td>
                                            <td class="text-muted">
                                                <textarea class="form-control" name="example-textarea"
                                                    placeholder="Type here..."></textarea>
                                                = </td>
                                        </tr>
                                        <tr>
                                            <td class="text-muted">
                                                Interest Charge Calculation
                                            </td>
                                            <td class="text-muted">
                                                <textarea class="form-control" name="example-textarea"
                                                    placeholder="Type here..."></textarea>
                                            </td>
                                            <td class="text-muted">
                                                <textarea class="form-control" name="example-textarea"
                                                    placeholder="Type here..."></textarea>
                                            </td>
                                        </tr>
                                    </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <br>

            <br>
            <div class="row">
                <p>
                    Andrew has come to you and voiced his concerns about having a credit card. He is considering getting
                    rid of his credit card. As a financial advisor, you understand that credit cards are financial tools
                    that can be used or abused. What three pieces of advice would you give Andrew?
                </p>
                <textarea class="form-control" name="example-textarea" placeholder="Type here.."></textarea>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/litepicker/dist/bundle.js"></script>
<script src="{{ url_for('static', filename='js/app.js') }}"></script>
{% endblock %}