{% extends 'base_w_header.html' %}
{% set page = "course" %}
{% block title %}
Fin Lit | Course
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
{% endblock %}

{% block content %}

<div class="page-wrapper">
    <div class="container-xl">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-primary mt-3 alert-dismissible mb-0 fade show" role="alert">
            <strong>{{ message }}</strong>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
        <!-- Page title -->
        <div class="page-header d-print-none">
            <div class="row g-2 align-items-center">
                <div class="col">
                    <h2 class="page-title">
                        Credit Card Offer Vocabulary
                    </h2>
                </div>
            </div>
        </div>
    </div>
    <div class="page-body">
        <form action="/quiz/submit/3" method="post">
            <div class="container-xl">
                <div class="row">

                    <p>
                        <strong>Step 1:</strong> Find and highlight each of the vocabulary words in the table below in the
                        credit card offer provided. (8 points)
                    </p>

                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Vocabulary Words</h3>
                        </div>
                        <div class="card-body p-0">
                            <div class="table-responsive">
                                <table class="table card-table table-vcenter text-nowrap datatable">
                                    <tbody>
                                        <tr>
                                            <td class="text-muted">
                                                <label class="form-check mb-2">
                                                    <input class="form-check-input" type="checkbox"  name="q1"/>
                                                    <span class="form-check-label"> Annual fee</span>
                                                </label>
                                            </td>
                                            <td class="text-muted">
                                                <label class="form-check mb-2">
                                                    <input class="form-check-input" type="checkbox"  name="q2"/>
                                                    <span class="form-check-label"> Annual percentage rate (APR)</span>
                                                </label>
                                                
                                            </td>
                                            <td class="text-muted">
                                                <label class="form-check mb-2">
                                                    <input class="form-check-input" type="checkbox"  name="q3"/>
                                                    <span class="form-check-label"> Balance transfers</span>
                                                </label>
                                                
                                            </td>
                                            <td class="text-muted">
                                                <label class="form-check mb-2">
                                                    <input class="form-check-input" type="checkbox"  name="q4"/>
                                                    <span class="form-check-label"> Credit card</span>
                                                </label>                                            
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-muted">
                                                <label class="form-check mb-2">
                                                    <input class="form-check-input" type="checkbox"  name="q5"/>
                                                    <span class="form-check-label"> Credit limit</span>
                                                </label>
                                            </td>
                                            <td class="text-muted">
                                                <label class="form-check mb-2">
                                                    <input class="form-check-input" type="checkbox"  name="q6"/>
                                                    <span class="form-check-label"> Introductory rate</span>
                                                </label>
                                                
                                            </td>
                                            <td class="text-muted">
                                                <label class="form-check mb-2">
                                                    <input class="form-check-input" type="checkbox"  name="q7"/>
                                                    <span class="form-check-label"> Late payment fee</span>
                                                </label>
                                                
                                            </td>
                                            <td class="text-muted">
                                                <label class="form-check mb-2">
                                                    <input class="form-check-input" type="checkbox"  name="q8"/>
                                                    <span class="form-check-label"> Over the limit fee</span>
                                                </label>                                            
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-muted">
                                                <label class="form-check mb-2">
                                                    <input class="form-check-input" type="checkbox"  name="q9"/>
                                                    <span class="form-check-label"> Penalty APR</span>
                                                </label>
                                                
                                            </td>
                                            <td class="text-muted">
                                                <label class="form-check mb-2">
                                                    <input class="form-check-input" type="checkbox"  name="q10"/>
                                                    <span class="form-check-label"> Pre-approved</span>
                                                </label>                                            
                                            </td>
                                            <td class="text-muted">
                                                <label class="form-check mb-2">
                                                    <input class="form-check-input" type="checkbox"  name="q11"/>
                                                    <span class="form-check-label"> Return payment fee</span>
                                                </label>                                            
                                            </td>
                                            <td class="text-muted">
                                                <label class="form-check mb-2">
                                                    <input class="form-check-input" type="checkbox"  name="q12"/>
                                                    <span class="form-check-label"> Schumer Box</span>
                                                </label>                                            
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-muted">
                                                <label class="form-check mb-2">
                                                    <input class="form-check-input" type="checkbox"  name="q13"/>
                                                    <span class="form-check-label"> Variable-rate APR</span>
                                                </label>                                            
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <br>

                <div class="row">
                    <p>
                        <strong>Step 2:</strong> Review the highlighted words in the credit card offer. Which words are you
                        not familiar with? Write six words that you are not familiar with in the first column of the table
                        below. Using your information sheet, write the definition of each word in your own words in the
                        second column. (8 points)
                    </p>
                    <div class="card">
                        <div class="card-body p-0">
                            <div class="table-responsive">
                                <table class="table card-table table-vcenter text-nowrap">
                                    <thead>
                                        <th>Word</th>
                                        <th>Definition</th>
                                        <th>Why this matters</th>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <input type="text" class="form-control form-control-flush"
                                                name="q15a" placeholder="Text..">
                                            </td>
                                            <td>
                                                <input type="text" class="form-control form-control-flush"
                                                    name="q15b" placeholder="Text..">
                                            </td>
                                            <td>
                                                <input type="text" class="form-control form-control-flush"
                                                    name="q15c" placeholder="Text..">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <input type="text" class="form-control form-control-flush"
                                                    name="q16a" placeholder="Text..">
                                            </td>
                                            <td>
                                                <input type="text" class="form-control form-control-flush"
                                                    name="q16b" placeholder="Text..">
                                            </td>
                                            <td>
                                                <input type="text" class="form-control form-control-flush"
                                                    name="q16c" placeholder="Text..">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <input type="text" class="form-control form-control-flush"
                                                    name="q17a" placeholder="Text..">
                                            </td>
                                            <td>
                                                <input type="text" class="form-control form-control-flush"
                                                    name="q17b" placeholder="Text..">
                                            </td>
                                            <td>
                                                <input type="text" class="form-control form-control-flush"
                                                    name="q17c" placeholder="Text..">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <input type="text" class="form-control form-control-flush"
                                                    name="q18a" placeholder="Text..">
                                            </td>
                                            <td>
                                                <input type="text" class="form-control form-control-flush"
                                                    name="q18b" placeholder="Text..">
                                            </td>
                                            <td>
                                                <input type="text" class="form-control form-control-flush"
                                                    name="q18c" placeholder="Text..">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <input type="text" class="form-control form-control-flush"
                                                    name="q19a" placeholder="Text..">
                                            </td>
                                            <td>
                                                <input type="text" class="form-control form-control-flush"
                                                    name="q19b" placeholder="Text..">
                                            </td>
                                            <td>
                                                <input type="text" class="form-control form-control-flush"
                                                    name="q19c" placeholder="Text..">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <input type="text" class="form-control form-control-flush"
                                                    name="q20a" placeholder="Text..">
                                            </td>
                                            <td>
                                                <input type="text" class="form-control form-control-flush"
                                                    name="q20b" placeholder="Text..">
                                            </td>
                                            <td>
                                                <input type="text" class="form-control form-control-flush"
                                                    name="q20c" placeholder="Text..">
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>

                <br>
                <div class="row">
                    <p>
                        <strong>Step 3:</strong> After instruction, complete column three by describing why it is important
                        to understand each wordwhen evaluating a credit card offer.(8 points)
                    </p>
                    <textarea class="form-control" name="q21" placeholder="Type here..."></textarea>
                </div>

                
                <button type="submit" class="btn btn-outline-danger w-100">
                    Submit Workbook
                </button>

            </div>
        </form>
    </div>

</div>

{% endblock %}

{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/litepicker/dist/bundle.js"></script>
<script src="{{ url_for('static', filename='js/app.js') }}"></script>
{% endblock %}